


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #logo{
    
            width: 12em;
            }
            
            .about1{
                display: flex;
                flex-direction: column;
                align-items: center;
                
            
            }
            #paragraph{
                width: 60%;
            }
            
            #aboutus{
                width: 100vw;
            }
            
            #image{
                width:30vw;
            
            }
            
            .about2{
                display: flex;
                gap: 2%;
            }
            
            .Mylogo{
                width: 3.5vw;
                margin-left: 2rem;
                margin-right: 2rem;
            
            }
            .logo{
                display: flex;
                justify-content: center;
                gap: 1.12rem;
                margin-top: 4px;
            }
    </style>
</head>

<body>
    <img src="/aboutus.png" alt="" id="aboutus">
    <div class="about1">
        <img src="/logo.png" alt="" id="logo">
        <h1 id="heading">What We Do</h1>
        <p id="paragraph">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt expedita architecto deleniti.
            Porro repellat tenetur laboriosam quod quam eligendi numquam veniam eum, error esse ipsam architecto odit
            officia quae iusto! Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia enim tempora in commodi
            temporibus omnis ipsa voluptatibus unde sint itaque saepe voluptas impedit est sit, vitae fugit sunt
            accusantium quos nesciunt mollitia dicta culpa. Sint soluta, quo eos temporibus eum iste in. Accusantium
            ipsa reprehenderit distinctio iste, excepturi velit perferendis.</p>


    </div>
    <hr>
    <br>

    <div class="about2">
        <div class="left">
            <img src="/photo.jpeg" alt="" id="image">
           

        </div>
        <div class="right">
            <div class="leftupper">
                <h2 id="name">Dr.Amit Gupta</h2>
                <h5>Co-Founder/Chief Executive Officer</h5>

            </div>

            <div class="leftbottom">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis pariatur expedita vitae ad
                    officia enim delectus exercitationem tenetur ea nostrum recusandae ipsa cum aut eveniet dignissimos
                    labore ex nemo cupiditate, voluptate quo nihil odio? Fugit facilis at asperiores a eos! Lorem ipsum
                    dolor, sit amet consectetur adipisicing elit. Doloribus blanditiis voluptate eum natus saepe
                    debitis, beatae vero voluptates voluptatum, fugiat commodi iure reiciendis error! Beatae harum
                    assumenda, id quod, odio modi nam repudiandae eligendi reiciendis expedita numquam quia explicabo
                    inventore ipsa? Ducimus fuga quibusdam magni molestias, asperiores perferendis provident laboriosam
                    praesentium qui voluptate non odit debitis voluptatem, ad harum i provident nemo voluptatem sunt
                    quia. Nobis ad tempora amet similique. Rerum voluptatem quos, excepturi consequatur perspiciatis aut
                    amet molestias tempore vitae, recusandae corporis quam architecto, repudiandae natus vero modi
                    reiciendis omnis quia hic debitis esse mollitia. Dolorum incidunt facilis rem necessitatibus
                    similique ipsum consequatur, consequuntur autem nesciunt eveniet! Doloribus laborum eveniet id
                    soluta et temporibus tenetur r laborum consectetur. Odit autem at magni beatae ut illum
                    voluptatibus, illo mollitia, rerum voluptates exercitationem animi inventore, amet nisi eveniet
                    quidem? Molestiae sed vel qui assumenda quis hic fugiat non odit. Autem, voluptates doloremque sunt
                    expedita voluptatibus impedit non minus eos ad porro nihil consectetur! Ipsa, expedita corporis
                    magnam incidunt ducimus laboriosam reiciendis accusamus ratione, corrupti laudantium ea voluptatem
                    vero culpa sed earum deserunt exercitat</p>

                    <div class="logo">
                       <a href="google.co.in"><img src="/FB logo.png" alt=""  class="Mylogo"></a> 
                        <a href="https://www.instagram.com/dr__amit__gupta/"><img src="/insta logo.png" alt="" class="Mylogo"></a>
                        <a href="https://l.instagram.com/?u=https%3A%2F%2Fyoutube.com%2Fc%2FDPMemorialHomoeopathyClinic&e=AT3VEIxjhS6Mk31CmUJu9MpCfikLWQtcPbJs4U91VWKLgzOTwkjXhrsVyPos7eRC49kGrw1ycip04mOvRZuPAdJ0T-2S9T_fbzhdVQ"><img src="/YT logo.png" alt="" class="Mylogo"></a>
                       </div>
            </div>


        </div>
    </div>

    <script src="about.js"></script>
</body>

</html>
<br><br><br><br><br>
<%- include('footer'); -%>
