


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Our Reviews</title>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      color: #000;
      font-family: 'Nunito', sans-serif;
    }

    .testimonial {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-bottom: 5rem;
      margin: auto;
    }

    h1 {
      margin: 20px 0;
    }

    .line {
      height: 2px;
      width: 6rem;
      background-color: #e26c4f;
      margin-bottom: calc(3rem + 2vmin);
    }

    .arrow-wrapper {
      position: relative;
      width: 70%;
      border-radius: 2rem;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      overflow: hidden;
      place-items: center;
    }

    .review-wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: calc(2rem + 1vmin);
        width: 100%;
       
    }

    #imgBox {
      border-radius: 50%;
      width: calc(6rem + 4vmin);
      height: calc(6rem + 4vmin);
      position: relative;
      box-shadow: 5px -3px #e26c4f;
      background-size: cover;
      margin-bottom: calc(0.7rem + 0.5vmin);
    }

    #name {
      margin-bottom: calc(0.7rem + 0.5vmin);
      font-size: calc(1rem + 0.5vmin);
      letter-spacing: calc(0.1rem + 0.1vmin);
      font-weight: bold;
    }

    #profession {
      font-size: calc(0.8rem + 0.3vmin);
      margin-bottom: calc(0.7rem + 0.5vmin);
      color: #e26c4f;
    }

    #description {
      font-size: calc(0.8rem + 0.3vmin);
      width: 70%;
      max-width: 40rem;
      text-align: center;
      margin-bottom: calc(1.4rem + 1vmin);
      color: rgb(92, 92, 92);
      line-height: 2rem;
    }

    .arrow {
      width: calc(1.4rem + 0.6vmin);
      height: calc(1.4rem + 0.6vmin);
      border: solid #e26c4f;
      border-width: 0 calc(0.5rem + 0.2vmin) calc(0.5rem + 0.2vmin) 0;
      cursor: pointer;
      transition: transform 0.3s;
    }

    .arrow:hover {
      transition: 0.3s;
      transform: scale(1.15);
    }

    .left-arrow-wrap {
      position: absolute;
      top: 50%;
      left: 5%;
      transform: rotate(135deg);
    }

    .right-arrow-wrap {
      position: absolute;
      top: 50%;
      right: 5%;
      transform: rotate(-45deg);
    }

    @media screen and (max-width: 900px) {
      .testimonial {
        width: 100%;
      }
    }
  </style>
</head>

<body>
  <%- include('navbarOnly'); -%>
  <br><br><br><br><br>
  <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
<div class="elfsight-app-1eed3b17-0ad3-4da5-8fc1-ba70aa46a4fa"></div>



  <script>
    const reviewWrap = document.getElementById("reviewWrap");
    const leftArrow = document.querySelector(".left-arrow-wrap .arrow");
    const rightArrow = document.querySelector(".right-arrow-wrap .arrow");
    const imgBox = document.getElementById("imgBox");
    const name = document.getElementById("name");
   // const profession = document.getElementById("profession");
    const description = document.getElementById("description");

    let people = [{
        photo: 'url("https://profile.justdial.com/profileImg?i=htvMAqr%2FBBzT0iOnQdtu54Q%2FqZjqEuRUzPZn8TjsGA4%3D")',
        name: "Simrata Singh",
        
        description: "since last 2 years i visited here. Dr.Amit is well knowledgeable and very cooperative person.I suffered from PCOS and some other problems. Homeopathic treatment sort out my many problems. it`s really benefits for all and specially I prefer to woman`s problems rather than go to gynecologist. many diseases solved by homeopathic without any side effects. allopathy treatment didn't gv me any benefits....and have got alot problems, side effects also. Now I only visit here for my any disease like fever also. my family members also visited here ... so I really thankful to Dr Amit for gave there faithful treatment and a positive effects. They understand your disease very well, listening ur problems very patiently and give there own advice to patient. I consider to all go through with homeopathy for ur diseases it`s really benefits for our body and mind. Thanks"
      },
      {
        photo: "url('https://profile.justdial.com/profileImg?i=htvMAqr%2FBBzT0iOnQdtu54Q%2FqZjqEuRUzPZn8TjsGA4%3D')",
        name: "Jyoti",
        
        description: "One of the best doctor I have met in my life. Either acute or chronic you must consult at least once."
      },
      {
        photo: "url('https://cdn.pixabay.com/photo/2015/01/08/18/30/man-593372__340.jpg')",
        name: "Ritesh Kumar Sharan",
        
        description: "Dr Amit Gupta is a well versed and learned doctor known to me who may be consulted for seeking medical advice to maintain and keep oneself healthy by homeopathy. i consulted him time and again. My wife is a great admirer of him as she had very hardship days every month she consulted sir for treatment. Sir prescribed her medicine and thankfully she is now very much relieved."
      },
      {
        photo: "url('https://profile.justdial.com/profileImg?i=htvMAqr%2FBBzT0iOnQdtu54Q%2FqZjqEuRUzPZn8TjsGA4%3D')",
        name: "SANJAY",
        profession: "Neurosurgen",
        description: "The best homoeopathic doctor for PCOD.... no alternate of Dr Amit for this disease."
      }
    ];

    // set the first person
    imgBox.style.backgroundImage = people[0].photo;
    name.innerText = people[0].name;
    //profession.innerText = people[0].profession;
    description.innerText = people[0].description;
    let currentPerson = 0;

    //Select the side where you want to slide
    function slide(side, personNumber) {
      let reviewWrapWidth = reviewWrap.offsetWidth + "px";
      let descriptionHeight = description.offsetHeight + "px";
      //(+ or -)
      let side1symbol = side === "left" ? "" : "-";
      let side2symbol = side === "left" ? "-" : "";

      setTimeout(() => {
        imgBox.style.backgroundImage = people[personNumber].photo;
      }, 0);
      setTimeout(() => {
        description.style.height = descriptionHeight;
      }, 100);
      setTimeout(() => {
        name.innerText = people[personNumber].name;
      }, 200);
      //setTimeout(() => {
        //profession.innerText = people[personNumber].profession;
      //}, 300);
      setTimeout(() => {
        description.innerText = people[personNumber].description;
      }, 400);
    }

    function setNextCardLeft() {
      if (currentPerson === 3) {
        currentPerson = 0;
        slide("left", currentPerson);
      } else {
        currentPerson++;
      }

      slide("left", currentPerson);
    }

    function setNextCardRight() {
      if (currentPerson === 0) {
        currentPerson = 3;
        slide("right", currentPerson);
      } else {
        currentPerson--;
      }

      slide("right", currentPerson);
    }

    setInterval(setNextCardRight, 2000);
    leftArrow.addEventListener("click", setNextCardLeft);
    rightArrow.addEventListener("click", setNextCardRight);
  </script>
</body>

</html>

<%- include('footer'); -%>
